:root {
  --hemo-color-primary: #bb0a08;
  --hemo-color-primary-dark: #8a0000;
  --hemo-color-primary-light: #ff6262;
  --hemo-color-secondary: #f2f2f2;
  --hemo-color-success: #2ac769;
  --hemo-color-warn: #f6a609;
  --hemo-color-text-secondary: #25282b;
  --hemo-color-text-secondary-opaque: rgba(37, 40, 43, 0.2);
  --hemo-color-text-primary: #f2f2f2;
  --hemo-color-link: #005fed;
  --black-5: #f9f9fa;
  --black-20: #dbdde0;
  --black-40: #cacccf;
  --black-80: #52575c;
  --black-100: #25282b;
  --black-101: #000;
  --gray: #f3f2f1;
  --red: var(--hemo-color-primary);
  --red-negative-darker: #e93c3c;
  --red-dark: var(--hemo-color-primary-dark);
  --red-light: var(--hemo-color-primary-light);
  --red-negative-default: #fb4e4e;
  --light-purple: #b8c4f2;
  --el-color-primary: var(--hemo-color-primary) !important;
  --el-color-main: var(--hemo-color-secondary) !important;
  --el-color-success: var(--hemo-color-success) !important;
  --el-color-warning: var(--hemo-color-warn) !important;
  --el-color-danger: var(--hemo-color-warn) !important;
  --el-color-info: var(--hemo-color-primary) !important;
  --el-color-text-primary: var(--hemo-color-text-primary) !important;
  --el-color-text-secondary: var(--hemo-color-text-secondary) !important;
  --el-border-color-light: var(--hemo-color-primary-dark) !important;
  --el-disabled-border-color: #d4d7de !important;
  --el-bg-color: var(--hemo-color-secondary) !important;
  --el-button-hover-border-color: var(--hemo-color-primary-dark) !important;
  --el-button-hover-bg-color: var(--hemo-color-primary-dark) !important;
  --el-color-primary-light-5: var(--hemo-color-primary-light) !important;
  --el-color-primary-dark-2: var(--hemo-color-primary-dark) !important;
  --el-color-primary-light-5: var(--hemo-color-primary-light) !important;
  --el-color-primary-light-3: var(--hemo-color-primary-light) !important;
  --el-color-primary-light-7: var(--hemo-color-secondary) !important;
  --el-color-primary-light-9: var(--black-5) !important;
  --el-button-hover-border-color: var(--el-color-primary-light-3);
  --el-button-active-bg-color: var(--el-color-primary-dark-2);
  --el-button-active-border-color: var(--el-color-primary-dark-2);
  --el-button-disabled-text-color: var(--el-color-white);
  --el-button-disabled-bg-color: var(--el-color-primary-light-5);
  --el-button-disabled-border-color: var(--el-color-primary-light-5);
  --el-dialog-bg-color: var(--black-100) !important;
  --navbar-content-height: 65px;
  --navbar-size: calc(var(--navbar-content-height) + env(safe-area-inset-top));
  --subheader-size: 50px;
  --app-max-width: 1080px;
  --available-height: calc(100dvh);
  --available-width: calc(
    100vw - env(safe-area-inset-left) - env(safe-area-inset-right)
  );
  --year-margin-base: 2.4rem;
}

@font-face {
  font-family: "Lato", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

.el-tabs__header {
  margin: 0 !important;
}

.el-drawer__header {
  margin: 0 !important;
}

.el-divider--horizontal {
  margin: 0 !important;
}

.el-drawer {
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0 !important;
}

.el-button + .el-button {
  margin-left: 0 !important;
}

html,
body {
  background-color: var(--black-5);
  color: var(--hemo-color-text-secondary);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

#__nuxt {
  width: 100%;
  min-height: 100dvh;
}

body {
  min-height: 100dvh;
  width: 100vw;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

* {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:focus,
a:hover,
a:visited {
  outline: 0;
  -moz-outline-style: none;
  outline-style: none;
}

*:focus {
  outline: 0 !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}
